<%= simple_form_for(@donation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.collection_select(:organization_id, Organization.all, :id, :name, :prompt => "Select Donor") %>
    <br>
    <%= f.collection_select(:product_id, Product.all, :id, :name, :prompt => "Select Cause") %>
    <%= f.input :amount %>
    <%= f.input :paid_out %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
