<p id="notice"><%= notice %></p>

<p>
  <b>Donor:</b>
  <%= Organization.find(@donation.organization_id).name %>
</p>

<p>
  <b>Cause:</b>
  <%= Product.find(@donation.product_id).name %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Paid out:</b>
  <%= @donation.paid_out %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation), :class => 'btn btn-mini' %> |
<%= link_to 'Back', donations_path, :class => 'btn btn-mini' %>
