<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  

    <legend><%= controller.action_name.capitalize %> Opportunities </legend>
   <div class="form-inputs"> 
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= @product.author = current_user.username %>
     

    </div>
  <div class="form-actions">
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', products_path, :class => 'btn' %>
  </div>
  
<% end %>
